body {
  font-family: Arial, sans-serif;
  margin: 30px;
  text-align: center;
}

.container {
  width: 350px;
  margin: auto;
}

input, textarea {
  display: block;
  width: 50%;
  margin: 0 auto 10px auto;
}

.course {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}